.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
}
.logon-container section.form{
    width: 100%;
    max-width: 350px;
}
.logon-container section.form form{
    margin-top: 40px;
}
.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.logon-container .logo{
    width: 100%;
    max-width: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
