.profile-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin:32px auto;

}
.profile-container header{
    display: flex;
    align-items: center;
}
.profile-container header span{
    font-size: 20px;
    margin-left: 24px;
}
.profile-container header img{
    height: 64px;
}
.profile-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.profile-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border:1px solid #e52e6b;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}
.profile-container header button:hover{
    border-color: #999;
}
.profile-container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}
.profile-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:24px;
    list-style: none;
}
.profile-container ul li{
    background: #e52e6b;
    padding: 24px;
    border-radius: 4px;
    position: relative;
}
.profile-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color: transparent;
}
.profile-container ul li button:hover{
    opacity: 0.8;
}
.profile-container ul li strong{
    display: block;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;

}
.profile-container ul li p + strong{
    margin-top: 12px;
}
.profile-container ul li p{
    color: #f9f9f9;
    line-height: 21px;
    font-size: 16px;
}
.container-search{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin:32px auto;
    background-color: #f9f9f9;
    min-height: 80px;
    border-radius: 8px;
}

.container-search select{
    width: 10%;
    height: 60px;
    color:#444;
    border:1px solid #ffe5ee;
    border-radius: 4px;
    padding: 0 24px;
    margin: 5px 0;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}